* {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    background-color: cadetblue;
}

ul {
    display: flex;
    flex-direction: row;
}

.li {
    list-style-type: none;
    margin: 1vh;
    padding: 1vh;
}

a {
    text-decoration: none;
    color: black;
}

.li:hover {
    background-color: darkred;
    cursor: pointer;
    color: white;
}

#ranTotal {
    text-align: center;
}